{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.njk", "*.html"],
      "excludeFiles": ["*.xml.njk"],
      "options": { "parser": "html" }
    }
  ]
}
