---
layout: base
title: Julian Prester | University of Sydney
permalink: /
eleventyNavigation:
  key: About
  order: 1
---

<h1 class="font-sans text-4xl font-bold mb-8">Julian Prester</h1>
<p class="mb-4">I am a Lecturer of Business Information Systems at <a
        class="text-primary-800 dark:text-primary-600 hover:text-secondary-200 dark:hover:text-secondary-200 border-b border-dotted border-primary-800 dark:border-primary-600 hover:border-secondary-200 dark:hover:border-secondary-200 transition-colors"
        href="https://www.sydney.edu.au/business/our-research/research-areas/business-information-systems.html">The
        University of Sydney</a> in Australia. I received my PhD as a <a
        class="text-primary-800 dark:text-primary-600 hover:text-secondary-200 dark:hover:text-secondary-200 border-b border-dotted border-primary-800 dark:border-primary-600 hover:border-secondary-200 dark:hover:border-secondary-200 transition-colors"
        href="https://www.scientia.unsw.edu.au">Scientia Scholar</a> in Information Systems from the UNSW Business
    School. Originally from Germany, I
    graduated with a Master of Science (with honors) in Management
    Information Systems and Bachelor of Science in Business Informatics from the <a
        class="text-primary-800 dark:text-primary-600 hover:text-secondary-200 dark:hover:text-secondary-200 border-b border-dotted border-primary-800 dark:border-primary-600 hover:border-secondary-200 dark:hover:border-secondary-200 transition-colors"
        href="https://www.uni-regensburg.de/index.html.en">University of Regensburg</a>.</p>
<p class="mb-4">My expertise and research interests lie at the intersection of technology, work and organizations,
    focusing on various forms
    of <i>Digital Work</i>. Using ethnographic and in-depth
    qualitative field research methods I explore digital work phenomena such as <i>Digital Nomadism</i> and <i>Platform Work</i>. Grounded in process theoretical and non-orthodox approaches, my research has been
    published in international journals such as <i>The Journal of Strategic Information Systems</i>, <i>Decision Support
        Systems</i> and <i>Information & Management</i> as well as the proceedings of leading IS conferences such as the
    <i>European Conference on Information Systems</i> and the <i>International Conference on Information Systems</i>.
</p>
<p class="mb-4">In my spare time I enjoy <a
        class="text-primary-800 dark:text-primary-600 hover:text-secondary-200 dark:hover:text-secondary-200 border-b border-dotted border-primary-800 dark:border-primary-600 hover:border-secondary-200 dark:hover:border-secondary-200 transition-colors"
        href="{{ '/bookshelf/' | url }}">reading books</a> and <a
        class="text-primary-800 dark:text-primary-600 hover:text-secondary-200 dark:hover:text-secondary-200 border-b border-dotted border-primary-800 dark:border-primary-600 hover:border-secondary-200 dark:hover:border-secondary-200 transition-colors"
        href="https://github.com/julianprester/">writing code</a>. I love travelling the world and believe a passport
    full of stamps is way better than an apartment full of stuff.</p>
<h2 class="mt-6 pt-6 mb-2 border-t-2 border-dotted border-gray-300 text-2xl font-bold font-sans">What's New</h1>
    <div x-data="{ show: false }" class="flex flex-col">
        <table class="table-auto">
            <tbody>
                {% for item in news %}
                {% if loop.index0 < 5 %} <tr>
                    {% else %}
                    <tr x-show="show">
                        {% endif %}
                        <td class="w-24 py-2 pr-2 align-top">{{ item.date | monthYearDateFromISO | safe }}</td>
                        <td class="py-2 pl-2 align-top">{{ item.content | safe }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <button @click="show = !show" aria-label="Show more"
            class="self-end text-primary-800 dark:text-primary-600 dark:hover:text-secondary-200 transition-colors"
            x-text="show ? '(Show less)' : '(Show more)'"></button>
    </div>