---
title: Julian Prester
description: Julian is a Lecturer in Information Systems at The University of Sydney. He is interested in Digital Work and Digital Nomadism.
author: Julian Prester
type: website
---

<!DOCTYPE html>
<html lang="en" class="antialiased">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />

  <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/syntax-highlighting.css' | url }}">
  <script defer src="{{ '/js/alpine.js' | url}}"></script>
  <script defer data-domain="julianprester.com" src="https://pa.julianprester.com/js/script.js"></script>

  {% include "meta.html" %}

  {% include "favicon.html" %}

</head>

<body x-data="{'darkMode': false}" x-init="
      darkMode = localStorage.getItem('darkMode') ? JSON.parse(localStorage.getItem('darkMode')) : window.matchMedia('(prefers-color-scheme: dark)').matches;
      $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))">
  <div :class="{ 'dark': darkMode }">
    <div class="min-h-screen dark:bg-gray-900 dark:text-gray-200">
      <div class="container max-w-screen-lg mx-auto px-8">
        {% include "header.html" %}
        <div class="py-6 font-mono">
          {{ content | safe }}
        </div>
        {% include "footer.html" %}
      </div>
    </div>
  </div>
</body>

</html>